@keyframes pulsate {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0%;
  }
}

.about {
  background-color: #0a2850;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.about__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
  max-width: 251px;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 119px 80px 173px 0;
  max-width: 660px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -91px;
  z-index: -1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s infinite ease-in-out;
}
