.header {
  display: flex;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 0 0 80px;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0 80px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
}

.header__span-location {
  display: block;
  max-width: 729px;
}

.header__description {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0 80px;
}

.header__description-break {
  display: block;
}

.header__paragraph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0 0 0 40px;
}

.header__address {
  margin: 0 80px 40px auto;
  color: #838383;
  z-index: 2;
}

.header__hours {
  list-style-type: none;
  margin: 0 0 0 80px;
  padding: 0;
}

.header__image {
  z-index: 1;
  position: absolute;
  max-width: 636px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}
