.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-size: cover;
  color: #000000;
  min-height: 720px;
  padding: 100px 0 0 0;
  margin: 0 0 100px;
}

.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 24px;
  text-align: center;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: 0 auto 100px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card {
  max-width: 540px;
  margin: 0;
  padding: 0;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  margin: 0 0 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: flex;
  width: 540px;
  margin: 0 0 16px;
}

.card__list-item:nth-last-child(1) {
  margin: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: solid 1px #000000;
}
