.reservation {
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-color: #d9e7ff;
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 100px 0 0 0;
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}
