.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url("./images/background_header.svg");
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
